---
# handlers file for bind9
- name: "Restart bind9"
  ansible.builtin.service:
    name: bind9
    state: restarted
    enabled: true
  become: true

# After we update the primary nameserver's records, we want to trigger
# all of the secondary servers to get the updated records.
- name: "Trigger secondaries to pull new records"
  ansible.builtin.command:
    cmd: rndc retransfer {{ item.domain }}
  become: true
  delegate_to: "{{ item.host }}"
  when: bind9_mirrors is defined and bind9_mirrors is not none and bind9_mirrors | length > 0
  changed_when: false
  loop: "{{ bind9_mirrors }}"
