; {{ ansible_managed }}

$TTL    604800
@       IN      SOA     {{ bind9_ns_name }}.{{ item.name }}. root.{{ item.name }}. (
                        {{ item.serial }}  ; Serial
                        {{ item.refresh }} ; Refresh
                        {{ item.retry }}   ; Retry
                        {{ item.expire }}  ; Expire
                        {{ item.ttl}} )    ; Negative Cache TTL
;

@       IN      NS      {{ bind9_ns_name }}.{{ item.name }}.

{% for record in item.records %}
{% if "origin" in record %}
{{ record.origin }}.
{% else %}
{{ record.name }}       IN      {{ record.type }}       {{ record.value }}
{% endif %}
{% endfor %}
