# {{ ansible_managed }}

options {
    directory "/var/cache/bind";

    {% if bind9_master_name == bind9_hostname %}
        forwarders {
            {% for forwarder in bind9_forwarders %}
                {{ forwarder }};
            {% endfor %}
        };
    {% endif %}

    dnssec-validation auto;

    listen-on-v6 { any; };
};
