# {{ ansible_managed }}

{% for zone in bind9_zones %}
zone "{{ zone.name }}" {

{% if bind9_master %}
    type master;
{% else %}
    type slave;
{% endif %}

{% if bind9_master %}
    file "/etc/bind/db.{{ zone.name }}";
{% else %}
    file "/var/lib/bind/db.{{ zone.name }}";
{% endif %}

{# master config #}
{% if bind9_master %}
    notify yes;
    allow-transfer {
        {{ zone.allow_transfer | join(';') }};
    };

{# slave config #}
{% else %}
    masters {
        {{ zone.master | join(';') }};
    };
{% endif %}
};
{% endfor %}

# todo add reverse zones
