# {{ ansible_managed }}

{% for zone in bind9_zones %}
zone "{{ zone.name }}" {

{% if 'master' not in zone %}
    type master;
    file "/etc/bind/db.{{ zone.name }}";
    notify yes;
    allow-transfer {
        {{ zone.allow_transfer | join(';') }};
    };
{% else %}
    type slave;
    file "/var/lib/bind/db.{{ zone.name }}";
    masters {
        {{ zone.master | join(';') }};
    };
{% endif %}

};
{% endfor %}

# todo add reverse zones
