# {{ ansible_managed }}

options {
    directory "/var/cache/bind";

{% if bind9_master %}
    forwarders {
    {% for forwarder in bind9_forwarders %}
        {{ forwarder }};
    {% endfor %}
    };
{% endif %}

    dnssec-validation auto;

    listen-on-v6 { any; };
};

{% if bind9_statistics %}
statistics-channels {
    inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
{% endif %}
