# {{ ansible_managed }}

options {
    directory "/var/cache/bind";

{% if bind9_master %}
    forwarders {
    {% for forwarder in bind9_forwarders %}
        {{ forwarder }};
    {% endfor %}
    };
{% endif %}

{% if bind9_extra_options %}
    {% for line in bind9_extra_options %}
        {{ line }}
    {% endfor %}
{% endif %}
{% if bind9_allow_query %}
    allow-query     {
        {% for network in bind9_allow_query %}
        {{ network }};
        {% endfor %}
    };
{% endif %}

    listen-on-v6 { any; };
};

{% if bind9_statistics %}
statistics-channels {
    inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
{% endif %}

{% if bind9_logging %}
logging {
  {% for line in bind9_logging %}
  {{ line }}
  {% endfor %}
};
{% endif %}
